<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
<div class="register-card">
    <h1>Авторизация</h1>
    <form id="avtorizationForm" action="/user_avtorization" method="post">
        <div class="field-group">
            <label for="login">Логин</label>
            <input type="text" id="login" name="login" placeholder="username123" required>
        </div>
        <div class="field-group">
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" placeholder="••••••••" required>
        </div>
        <button type="submit" id="submitBtn">Авторизоваться</button>
        <div id="formMessage" class="message"></div>
    </form>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../static/js/script.js"></script>
</html>